#slider-nav{
display:none;
width:200px;
height:60px;
/* margin-top:1em; */
margin: 5% auto 2em;

}
*{margin:0; padding:0;} 
#slider-nav button{
font-weight:bold;
padding:1em;
margin-right:2em;
margin-left:2em;
 background-color: #6A4D9B;

border-radius: 10px;
cursor:pointer;
}
.slider{
padding-top:0.7em;
width:300px;
height:220px;
margin: 5% auto 2em;
 background-color: black;


/*overflow:hidden;*/
overflow:scroll;
}
.slider ul{
width:10000px;
list-style:none;
}
.slider li{
float:left;
}
img{

width:300px;
height:200px;

}